.container-about {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat";
    margin-top: 3%;
}

.titulo {
    padding: 5%;
    font-size: xx-large;
    position: absolute;
    height: 300px;
    width: 100px;
    background-color: #f48422;
    writing-mode: vertical-lr;
    text-align: center;
    margin-top: -60%;
}

.arriba-section {
    margin-left: 10%;
    font-family: "Montserrat";
    width: 80%; /* Aumentamos el ancho para que se ajuste mejor */
    font-size: large; /* Modificamos el tamaño de fuente */
    text-align: center;
    font-style: oblique 40deg;
    margin-bottom: 3%; /* Espaciado inferior para separar de la siguiente sección */
}

.columna1,
.columna2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centramos los elementos verticalmente */
    margin-bottom: 3%; /* Espaciado inferior para separar las columnas */
}

.columna1 img {
    margin-top: 3%;
    max-width: 100%; /* Imagen responsive, ocupando máximo ancho disponible */
}

.nosotros-section {
    width: 80%; /* Aumentamos el ancho para que se ajuste mejor */
    background-color: white;
    color: #050505;
    text-align: justify;
    font-style: italic;
    font-size: medium; /* Modificamos el tamaño de fuente */
    padding: 3% 5%; /* Añadimos relleno interno */
}

.elementos-section,
.check-section {
    width: 80%; /* Aumentamos el ancho para que se ajuste mejor */
    margin-bottom: 3%; /* Espaciado inferior para separar las secciones */
}

.check-section {
    background-color: black;
    color: #ffffff;
    text-align: left;
    padding: 3% 5%; /* Añadimos relleno interno */
}

.elementos-section {
    background-color: #f48422;
    color: #000000;
    text-align: center;
    padding: 3% 5%; /* Añadimos relleno interno */
}
