.container-about {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat";
}

.check-section {
    width: 30%;
    background-color: black;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
}

.columna1 img {
  width: 30%;
}

.elementos-section {
    width: 30%;
    background-color: #f48422;
    color: #000000;
    justify-content: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;

}

.arriba-section {
    width: 100%;
    justify-content: center;
    text-align: center;

}

.columna1 {
    display: flex;
    flex-direction: row;
}

.columna2 {
    display: flex;
    flex-direction: row;
}

.nosotros-section {
    display: flex;
    flex-direction: row;
    width: 30%;
    background-color: white;
    color: #050505;
    text-align: justify;

}