.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-family: 'montserrat';
    width: 100%;

}

.card img {
    box-shadow: 15px 15px 15px #0000004f;

}

.card button{
    color: #f48422;
    font-weight: 700;
    font-size: xx-large;
    font-family: Edo;
    border-style: none;
    width: 18%;
    margin-top: -30%;
    margin-left: 80%;
    height: auto;
    border-radius: 10px;
  /* border-color: #f48422; */
    background-color: transparent;
    /* box-shadow: 15px 15px 15px #0000004f; */

}

.card button:hover{
    background-color:transparent;
}


.detail-img {
    width: 40%;
    padding: 10px 10px 10px 10px;
}

@font-face {
    font-family: Edo;
    src: url("../../../edosz.ttf");
}