.card {
    background-color: rgb(252, 252, 252);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #0000004f;
    font-family: 'montserrat';
    width: 80%;

}

.card button{
    width: 50px;
    border: none;
    background-color: transparent;
    margin-left: 70%;
    margin-top: -30%;    
}

.card button:hover{
    background-color: transparent;
}


.detail-img {
    width: 40%;
    padding: 10px 10px 10px 10px;
}