.card {
    background-color: rgb(252, 252, 252);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #0000004f;
    font-family: Impact;
}

.card button{
    width: 75px;
    border: none;
    background-color: white;
    margin-left: 50%;
    margin-top: -20%;    
}

.card button:hover{
    background-color: white;
}


.detail-img {
    width: 40%;
    padding: 10px 10px 10px 10px;
}