footer {
margin-top: 5%;
    font-family: "Montserrat";
    font-size: small;

}

li {
    list-style: none;
    list-style: none;

}


a{
    width: 75px;
    font-family: "Montserrat";
    font-size: small;
}