.form-container {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.form-name {
    display: grid;
}

.form-stockPrecio {
    display: flex;
}