.searchBar{
    width: 30%;
    border: 50px;
    border-color: #ffffff;
    outline-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    background-color: #eee;
    height: 46px;
    border-radius: 90px;
    overflow: hidden;
    position: relative;
    font-family: 'montserrat';
    font-weight: bold;
}

.searchBar button {
    background-color: #F48422;
    height: 100%;
    border: 0px;
    padding: 0 16px;
    font-size: 10px;
    font-family: 'montserrat';
    font-weight: bold;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.searchBar input {
    border: 300px;
    border-color: #ffffff;
    background-color: #eee;
    height: 200%;
    width: 150%;
    padding: 10px 50px 10px 30px;
    font-size: 14px;
    font-family: 'montserrat';
    font-weight: bold;
    outline-color: rgb(255, 255, 255);

}



/* .searchBar form {
    display: flex;
    align-items: center;
    background-color: #eee;
    height: 46px;
    overflow: hidden;
    position: relative;
} */