.container-home{
    display: flex;
    margin-top: 5%;
}

.containerCards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    width: 60%;
    height: 90%;
    font-family: 'montserrat';
   }




.containerFilters {
    display: table-row;
    width: 40%;
    font-family: 'montserrat';
    font-weight: bold;
    box-shadow: none;  
    border: none;
    font-size: small;
}

.containerFilters button{
    box-shadow: none; 
    border-radius: 15px;
    width: 100%;
    background-color: #ffffff;
    color: #a8a8a8;
    margin-bottom: 10px;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: medium;

}

.containerFilters button:hover{
    background-color: #F48422;
    color: #ffffff;
    box-shadow: none;  

}

.containerFilters button:not(.collapsed) {
    box-shadow: none;  
    background-color: #F48422;
    color: #ffffff;

}

.containerFilters button:is(.collapsed) {
    box-shadow: none;  
    
}


.form-select {
    box-shadow: none;  
    border-radius: 10px;
    border-color:  #F48422;
}
