.container-detail {
  display: table;
  margin-top: 5%;
  font-family: 'montserrat';


}

.detail-product-container {
  padding: 0 1rem;
  max-width: 130rem;
  margin: auto;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 1rem;
  margin-left: 10%; 
}

/* Container seccion imagen principal y las imagenes extras */
.detail-product-image {
  max-width: 100%;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 3.5rem;
  
}

/* Ajusta el tamaño de la imagen principal */
.detail-product-image img {
  width: 80%; 
  height: auto;
  border-radius: 10px;
 
}

/* Ajusta el espacio entre las imágenes de los productos */
.clickable-image {
  margin-top: 10px;
  margin-bottom: 10px; 
  width: 200px;
}

.detail-product-info {
  display: flex;
  flex-direction: column;
  font-family: 'montserrat';

  height: 50%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.product-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.product-price{
  font-size: 2rem;
  font-weight: 700;
}

.product-images img {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 10%;
  transition: all 0.3s;
  position: relative;
}

.product-main__heading {
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .detail-product-container {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .product-images img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .detail-product-info {
    height: auto;
  }
}

.custom-popup-class {
  /* Estilos para el popup personalizado */
  width: auto; /* Ancho automático */
  max-width: 100%; /* Ancho máximo del popup */
  max-height: 100%;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-popup-class img {
  /* Estilos para las imágenes dentro del popup */
  max-width: 80%; /* Ajusta la imagen al ancho del contenedor */
  max-height: 100%; /* Altura máxima del popup */
  border-radius: 10px;
  object-fit: fill; /* La imagen se ajusta manteniendo la relación de aspecto */
}

.product-description {
  display: row;
  text-align: left;
  width: 90%;
  height: 80%;
  font-size: large;
  margin-left: 5%;
  margin-top: 5%;
  font-family: 'montserrat';

  font-weight: bold;
}

.detail-product-button {
  background-color: #F48422;
  color: #000000;
  font-family: 'montserrat';

  width: 40%;
  text-align: center;
}

.detail-product-button:hover {
  background-color: black;
  color: #ffffff;
}

