.container-detail {
  display: row;
  justify-content: center;
  margin-top: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.detail-product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5%;
  
}

.detail-product-image img {
  width: 100%; /* Ajusta el tamaño de la imagen principal */
  height: auto;
}

.clickable-image {
  margin-bottom: 50px; /* Ajusta el espacio entre las imágenes de los productos */
  width: 100px;
}

.detail-product-info {
  width: 50%;
  margin-left: 5%;
  font-size: large;

}


.product-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Ajusta el espacio entre las imágenes y la imagen principal */
}

.product-images img {
  width: 200px;
  height: 200px;
  margin: 5px;
}


@media only screen and (max-width: 768px) {
  .detail-product-container {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .product-images img {
    width: 80px;
    height: 80px;
  }
}

.custom-popup-class {
  /* Estilos para el popup personalizado */
  width: auto; /* Ancho automático */
  max-width: 100%; /* Ancho máximo del popup */
  max-height: 100%;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-popup-class img {
  /* Estilos para las imágenes dentro del popup */
  max-width: 80%; /* Ajusta la imagen al ancho del contenedor */
  max-height: 100%; /* Altura máxima del popup */
  border-radius: 10px;
  object-fit: fill; /* La imagen se ajusta manteniendo la relación de aspecto */
}

.product-description {
  display: row;
  text-align: justify;
  width: 90%;
  height: 100%;
  font-size: x-large;
  margin-left: 5%;
  margin-top: 5%;
}
