.announcement{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    font-size: .8rem;
    font-family: Tahoma;
    font-weight: bold;
}

.announcement-text{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.text1 span{
    margin-right: 5rem;
}

.text2 span:not(:last-child){
    margin-right: 5rem;
}

.text2 span:last-child{
    margin-right: 5rem;
}

.text3 span:not(:last-child){
    margin-right: 5rem;
}

.text3 span:last-child{
    margin-right: 5rem;
}