header {
    height: 50%;
    width: 100%;

    z-index: 1000;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  
  .logo {
    width: 50px;
    margin-left: 30%;
  }
  
  .text-home{
    color: #F48422;
    font-family: 'Montserrat';
    font-size: larger;
    text-decoration: none;
    margin-left: 10px;
  }

  nav {
    border-bottom: #F48422;
    border-bottom-width: 5px;
    border-bottom-style: solid ;
    margin-top: 10px;
    display: flex;
    width: 85%;
    color: white;
    text-decoration: none;
    margin-left: 7%;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-items: center;
    text-decoration: none;
  }
  
  li {
    margin-right: 50px;
    
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: larger;
  }
  
.searchbar {
  display: flex;
  justify-content: end;
  width: 50%;
  margin-left: 30%;
}

  .scroll-down {
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
  
  .boton {
    color: white;
    background-color: #78b0a6;
    border: #152231;
    border-radius: 10px;
    width: 50px;
    font-family: Tahoma;
    font-weight: bold;
    justify-content: space-around;
    margin-right: 10px;
  }
  
  header button:hover {
    background-color: #F48422;
    border-color: #F48422;
  }
  
  .botones {
    display: flex;
  }

/* .nav-container {
    background-color: #ffffff;
    height: auto;
    font-family: 'montserrat';
    width: 100%;
    border-bottom: #F48422;
    border-bottom-width: 5px;
    border-bottom-style: solid ;  
    margin-left: 8%;
    color: #F48422;
}

.container-enlaces {
    color: #000000;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
} */


/* .login{
    padding: 100px;
    margin-left: 50px;
    color: #000000;
}

.homestyle{

    color:#F48422
} */

/* .login:hover {
    color: #000000;
} */
