.nav-container {
    background-color: #ffffff;
    height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;    
}

.login{
    padding: 100px;
    margin-left: 10px;
    
}

.boton-login:hover {
    background-color: #f89a0d;
}
