.nav-container {
    background-color: #ffffff;
    height: 80px;
    font-family: Tahoma;
    font-weight: bold;
    width: 83%;
    border-bottom: #F48422;
    border-bottom-width: 5px;
    border-bottom-style: solid ;  
    margin-left: 110px;
}

.login{
    padding: 100px;
    margin-left: 10px;
    
}

.boton-login:hover {
    background-color: #F48422;
}
